.listing{
    min-width: 50%;
    max-width: 50%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.5% 0;
    border-bottom: 2px solid rgb(10, 20, 108);
    
}

.box-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-item-div, .box-info-div{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.all-listings-page{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.all-listings{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.filter{
    margin-left: 2%;
    margin-top: 2%;
    max-width: 15%;
    display: flex;
    justify-content: space-around;
}

.single-listing-home{
    width: 30%;
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(10, 20, 108);
    border: none;
    border-radius: 5px;
    color: white;
    margin: 2.5% 0;
}

.item-pic {
    max-width: 90%;
}

.box-item-pic {
    max-width: 100%;
    max-height: 85%;
}

.add-cart{
    color: #17B6FB;
}

.add-cart-btn{
    cursor: pointer;
    width: 40%;
}


.add-cart-div{
    display: flex;
    min-width: 50%;
    max-width: 50%;
    justify-content: space-around;
    align-items: center;
}