h1 {
    font-size: 4vh;
    margin-bottom: 3%;
}

.listing{
    min-width: 50%;
    max-width: 50%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5%;
    border-bottom:thin solid rgb(29, 92, 175);
    
}

.box-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.box-item-div, .box-info-div{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.all-listings-page{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.all-listings{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.filter{
    margin: 2% 0 0 5%;
    max-width: 15vw;
    display: flex;
    justify-content: space-around;
}

.filter select {
    min-width: 50%;
}
.filter button {
    font-size: 1vw;
}

.single-listing-home{
    min-width: 25%;
    width: 30%;
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-left: thin solid rgb(29, 92, 175);
    border-right: thin solid rgb(29, 92, 175);
    margin: 2.5% 1%;
}

.single-listing-home p {
    font-size: 1vw;
}

.single-listing-home h3 {
    font-size: 2vw;
}

.single-listing-home button {
    font-size: 1vw;
}


.item-pic{
    width: 50%;
}

.box-item-pic {
    max-width: 100%;
    max-height: 85%;
}

.add-cart{
    color: #17B6FB;
}

.add-cart-btn{
    cursor: pointer;
    width: 40%;
}


.add-cart-div{
    display: flex;
    min-width: 50%;
    max-width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}

@media screen and (max-width: 700px) {
    .single-listing-home{
        width: 80%;
        margin: 4% 0;
    }

    .single-listing-home p {
        font-size: 3vw;
    }

    .single-listing-home h3 {
        font-size: 4vw;
    }

    .single-listing-home button {
        font-size: 2vw;
    }
    .listing {
        min-width: 90%;
    }

    .all-listings {
        margin-top: 5%;
    }

    h1{
        font-size: 3vh;
        margin-bottom: 5%;
    }

    .filter{
        margin-left: 5%;
        margin-top: 5%;
    }

    .filter select {
        min-width: 70%;
        font-size: 2vw;
    }

    .filter button {
        font-size: 2vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }

    

}