* {
  margin: 0;
  padding: 0;
}

.btn{
  background-color: #17B6FB;
  border: none;
  border-radius: 5px;
  color: #1D2358;
  cursor: pointer;
}

.auth{
  width: 18%;
  height: 35%;
}

.header, .footer {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: rgb(29, 92, 175);
}

.footer {
  justify-content: center;
  flex-direction: column;
  color: lightgray;
  font-weight: 100;
}

.links{
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
  color: white;
}
.link-tag {
  color: white;
  text-decoration: none;
}

.logo-header{
  margin-left: 10%;
  height: 100%;
}

.pages {
  min-height: 80vh;
}

.landing-page{
  max-width: 100%;
  background-image: url(./landing-page.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.landing-page-company{
  max-width: 30%;
  max-height: 40%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20%;
}

.landing-page-info{
  max-width: 40%;
  text-align: center;
  height: 20vh;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.landing-page-company h1 {
  color: #17B6FB;
}

.landing-page-company img {
  width: 80%;
}

.main-auth{
  width: 40%;
  height: 20%;
  font-weight: bold;
}

.nav-logo{
  margin-top: 5%;
  max-height: 90%;
}

.listings-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}